apiVersion: v1
kind: Secret
metadata:
  name: web-secrets
type: Opaque
data:
  # These are template values that should be filled in during deployment
  # All values must be base64 encoded
  api_url: ${BASE64_API_URL}  # e.g., https://api.raiseyourvoice.al